<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/docs/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/docs/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/docs/assets/css/ie8.css" /><![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="canonical" href="//jandomanski.com" />
		<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-34550816-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		</script>
	</head>
	<body id="top">
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/docs/images/avatar.png" alt="" /></a>
					<h1><strong>Jan Domański</strong> – engineering<br />
					and science</h1>

					<div>
						<h3><a href="/software">Software</a></h3>
						<h3><a href="/blog">Blog</a></h3>
						<h3><a href="/publications">Publications</a></h3>
						<h3><a href="/about">About</a></h3>
					</div>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				{{ content }}

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="//twitter.com/jandom_random" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="//github.com/jandom" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Updated: May 2023 | Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/docs/assets/js/jquery.min.js"></script>
			<script src="/docs/assets/js/jquery.poptrox.min.js"></script>
			<script src="/docs/assets/js/skel.min.js"></script>
			<script src="/docs/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/docs/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/docs/assets/js/main.js"></script>
			<iframe src="//uk.linkedin.com/in/jandomanski" height="1" width="1" frameBorder="0"></iframe>
	</body>
</html>
